#drum-machine {
  background-color: #636e72;
  border: 2px solid #333;
}
#button {
  padding-top: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* wrapper div for all drum pads */
#display {
  margin: auto;
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #ffb942;
  border: 2px solid #333;
}

#drum-pads {
  height: 75vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drum-pad {
  border: 1px solid black;
  height: 20vh;
  width: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1vw;
  background-color: #84eeff;
}
